<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbat</title>
  </head>
  <body>
    <% include ./perm/header %>
    <% include ./perm/sidebar %>
    <main>
      <h2>Orbat Page</h2>
      <p>This is the Orbat section.</p>
    </main>
  </body>
</html>
